
        

 .irad
            {
                color: red;
                
               
            }
            #tst2{
                color:blue  ;   
                font-size : 15px;
            }
        body{
            background-color: rgb(14, 166, 141);

        }
        
